/* NOTE: if you embed fonts, you will not see the style changes, such as italic, bold, etc., 
driven from the DFXP XML file unless you bold all versions of the font, e.g., italic, bold, etc. */

global {
   color: #FFFFFF;
   fontFamily: "Verdana";
   fontSize: 11px;
   fontWeight: normal;
}

.title {
	fontSize: 20px;
	fontWeight: normal;
}

.timeCode {
	fontSize: 10px;
	color: #999999;
}

.label {
	fontSize: 10px;
	color: #aaaaaa;
}


.dataTip {
    backgroundColor: black;
}


.captionStyle {
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 5;
	alpha: 0;
	background-color: #000000;
	background-alpha: 0.66;
	textAlign: "center";
	fontSize: 13px;
}


