/* videoPlayer CSS file */
@namespace mx "library://ns.adobe.com/flex/halo";

@font-face
{
	fontFamily: HelveticaEmbed;
	fontWeight: normal;
	fontStyle: normal;
	src: url("assets/fonts/Helvetica.dfont"); 
	embedAsCFF: false; 
}


.timer {
	fontFamily: HelveticaEmbed;
	fontSize: 10px;
	color: #ffffff;	
}

.controlBarBackground {
	
	backgroundImage: Embed(
	source="modules/video_player/skins/VideoPlayer/vControlBack.png");
	cornerRadius: 0px;
	horizontalGap: 0px;

	padding-left: 0px;
	padding-top: 3px;
	dropShadowEnabled:false;
}

.timer {
	
fontSize: 10px;

color: #ffffff;	


	borderStyle:none;
	

}

.vpPlayBtn {
	
	  upSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/playBtn.png");
      
      disabledSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/playBtn_disabled.png");
      
      downSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/playBtn.png");
      
      overSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/playBtn_over.png");
	
}

.vpPauseBtn {
	
	  upSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/pauseBtn.png");
      
      disabledSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/pauseBtn_disabled.png");
      
      downSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/pauseBtn.png");
      
      overSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/pauseBtn_over.png");
	
}

.fsBtn {
	
	  upSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/fsBtn.png");
      
      disabledSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/fsBtn_disabled.png");
      
      downSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/fsBtn.png");
      
      overSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/fsBtn_over.png");
	
}

.ccBtn {
	
	  upSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn.png");
      
      disabledSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_disabled.png");
      
      downSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn.png");
      
      overSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_over.png");
	
}

.ccBtnOn {
	
	  upSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_on.png");
      
      disabledSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_on.png");
      
      downSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_on.png");
      
      overSkin: Embed(
      source="modules/video_player/skins/VideoPlayer/ccBtn_on.png");
	
}

.vpSlider {
	
	 thumbSkin: Embed(source="modules/video_player/skins/VideoPlayer/sliderThumb.png");

	
}
.dataTipStyle
{
	fontFamily: HelveticaEmbed;
	background-color:#000000;
}